.browse-bottom-info {
  margin-top: 200px;

  .browse-bottom-container {
      .browse-bottom-row {
        
          .browse-bottom-col-2 {
              @include displayFlex(flex-start, center);
              flex-direction: column;
              padding-left: 60px;
              @include mQ($sm) {
                padding-left:20px;
              } 
              .browse-bottom-top {
                  font-family: Inter;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 36px !important;
                  line-height: 44px;
                  color: var(--dark-1);
                  margin-bottom: 28px;
                  h1 {
                    color: var(--dark-1);
                    margin-bottom: 16px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
  
                    span {
                        position: relative;
  
                        .flowerRing {
                            position: absolute;
                            left: -15px;
                            top: -34px;
                            height: 106px;
  
                            @include mQ($lg) {
                                height: 86px;
  
                            }
  
                            @include mQ($md) {
                                height: 76px;
                                left: -9px;
                                top: -26px;
                            }
                        }
                    }
  
                }
              }
              .browse-bottom-mid-left {
                  font-family: Inter;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 40px !important;
                  line-height: 160%;
                  color: #636363;
                  margin-bottom: 32px;
                  h1 {
                    color: var(--dark-1);
                    margin-bottom: 16px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
  
                    span {
                        position: relative;
  
                        .flowerRing {
                            position: absolute;
                            left: -15px;
                            top: -34px;
                            height: 106px;
  
                            @include mQ($lg) {
                                height: 86px;
  
                            }
  
                            @include mQ($md) {
                                height: 76px;
                                left: -9px;
                                top: -26px;
                            }
                        }
                    }
  
                }
              }
              .browse-bottom-mid-right {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 25px !important;
                line-height: 160%;
                color: #636363;
                margin-bottom: 32px;
                h2 {
                    color: var(--dark-2);
                    margin-bottom: 50px;
                }
            }
              .btn-signUp {
                  font-family: Inter;
                  font-style: normal;
                  font-weight: normal;
                  border-radius:50px !important;
                  font-size: 20px !important;
                  line-height: 24px;
                  padding:20px 30px;
                  letter-spacing: 0.065em;
                  color: #ffffff;
                  @include mQ($sm) {
                    padding:12px 30px;
                    font-size:25px !important;
                  }
              }
              .browse-abc{
                font-size: 40px !important;
              }
          }
      }
  }
}

