@import "./Styles/config";
@import "./Styles/animation";

@import "./Pages/About/About.scss";

@import "./Components/Navbar/Navbar";
@import "./Components/Footer/Footer";
@import "./Components/Hero/Hero.scss";
@import "./Components/Explore/Explore";
@import "./Components/Browse/WalletSupport";
@import "./Components/LiveAuctions/LiveAuctions";
@import "./Components/NFTCard/NFTCard";
@import "./Components/TopCollection/TopCollection";
@import "./Components/PopularCollection/PopularCollection";
@import "./Components/TodaysPick/TodaysPick";
@import "./Components/NFTReview/NFTReview";
@import "./Components/HomeBottomInfo/HomeBottomInfo";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@supports (scrollbar-color: red blue) {
    html,
    body {
        scrollbar-width: thin !important;
        scrollbar-color: #00398e transparent;
        font-family: "Poppins", sans-serif;
    }
}

html,
body {
    scroll-behavior: smooth;
    line-height: 1.7;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(0, 164, 123, 0.219);
        // margin-block: 0.2em;
        // border-radius: 100vw;
        width: 5%;
    }

    &::-webkit-scrollbar-thumb {
        background: #3FBFA0;
        border-radius: 100vw;
    }
}

body {
    font-family: Urbanist;
    scroll-behavior: smooth;
}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}
h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px !important;
    line-height: 150%;
}
p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
a {
    text-decoration: none !important;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
a.active {
    color: var(--dark-green) !important;
    border-bottom: 2px solid var(--dark-green) !important;
}
svg {
    vertical-align: middle !important;
}

.section-title {
    font-family: Urbanist;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    background: linear-gradient(263.85deg, #22c16c 40.87%, #0a9c4d 59.92%);
    background: -webkit-linear-gradient(
        263.85deg,
        #22c16c 40.87%,
        #0a9c4d 59.92%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal;
}
.section-heading-2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    color: #ffffff;
    @include mQ($sm) {
        font-size: 34px;
        line-height: 38px;
    }
}

.react-multi-carousel-item {
    @include displayFlex(center,center);
}

.btn-primary,
.btn-primary:hover { 
    border-color: #3FBFA0 !important;
}
.btn-secondary,
.btn-secondary:hover {
    border-color: #2d3646 !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    border-color: #3FBFA0 !important;
    box-shadow: 0 0 0 0.25rem rgba(10, 156, 78, 0.244)important;
  }
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    border-color: #2d3646 !important;
    box-shadow: 0 0 0 0.25rem #2d364673 !important;
  }
.btn_green {
    background: linear-gradient(207.67deg, #22C16C 3.43%, #0A9C4D 104.7%);
    border-radius: 12px !important;   
    color:white;
    @include displayFlex(center,center); 
    // border: 2px solid inherit !important;
    font-size: 16px;
    line-height: 24px;
    @include mQ($xl) {
        font-size:12px;
    }
    
}


.btn_grey {
    background: #3C485D !important;
    color:white;
    border-radius: 12px !important;
    @include displayFlex(center,center);
    border: 2px solid transparent !important;
    font-size: 16px;
    line-height: 24px;
    @include mQ($xl) {
        font-size:12px;
    }
    
}
.btn_padding {
    padding:9px 12px !important;
    min-width:50%;
}